<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <title>My WeiBo</title>
    <link
      href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../../assets/css/ie10-viewport-bug-workaround.css"
      rel="stylesheet"
    />
    <script
 	src="https://code.jquery.com/jquery-3.2.1.min.js"
 	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 	crossorigin="anonymous"></script>

    <script type="text/javascript">
     
    window.onload= function (){
      allPost();
      var result;
      document.getElementById('allPosts').addEventListener('click',allPost);
      document.getElementById('myPosts').addEventListener('click',myPost);

      function allPost(){
          document.getElementById('posts').innerHTML=''
          fetch("http://localhost:3000/post/allPost").then((response) => response.json())
          .then((posts) => {
            for (var prop in posts) {
              $.ajax({url:`http://localhost:3000/post/userInfo?username=${posts[prop].username}`,type:'get',async:false ,success: function(user){   
                document.getElementById('posts').innerHTML += 
                `<div  class="col-md-4"> 
                <h2><img src="/images/${user[0].avatar}" width="40">
                ${posts[prop].username} says:</h2>
                <p>
                ${posts[prop].content}
                <p>
                <a class="btn btn-default" href='/post/${posts[prop]._id}' role="button">View details &raquo;</a></p>
                </p>
                </div>`
              }})
            }
      });
    }

    function myPost(){
          document.getElementById('posts').innerHTML='';
          fetch("http://localhost:3000/post/myPost").then((response) => response.json())
          .then((posts) => {
            for (var prop in posts) {
              $.ajax({url:`http://localhost:3000/post/userInfo?username=${posts[prop].username}`,type:'get',async:false ,success: function(user){   
                document.getElementById('posts').innerHTML += 
                `<div  class="col-md-4"> 
                <h2><img src="/images/${user[0].avatar}" width="40">
                ${posts[prop].username} says:</h2>
                <p>
                ${posts[prop].content}
                <p>
                <a class="btn btn-default" href='/post/${posts[prop]._id}' role="button">View details &raquo;</a></p>
                </p>
                </div>`
              }})
            }
      });
      }
 }
    
     
    </script>
  
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">
              <button class="btn btn-lg btn-success" id="allPosts">All Posts</button>
            </li>
            <button class="btn btn-lg btn-success" id='myPosts'>My Posts</button>
          </ul>
        </nav>
        <h2 class="text-muted">My WeiBo</h2>
      </div>

<div class="jumbotron">
  <div class="container">
    <% if (!login){%>
        <h2>Welcome to My WeiBo</h2>
        <p class="lead">
          What’s happening in the world and what people are talking about right
          now.
        </p>
        <p>
          <a class="btn btn-lg btn-success" href="/login" role="button">Log in</a>
          <a class="btn btn-lg btn-success" href="/register" role="button"
            >Sign up today</a
          >
        </p>
      </div>
      <%}else{%>
        <h2>Hello! <%=username%></h2>
        <div class="row">
            <div class='col-lg-3'>
              <a href="/static"><img src="/images/<%=avatar%>" width="230px" height="206px"></a>
              <a class="btn btn-lg btn-success" href="/setAvatar" role="button"
            >Set Avatar</a>
            </div>
            <div class='col-lg-6'>
                <form action="/post" method="POST">
                <textarea name="content" cols="80" rows="10" required='required'></textarea>
                <button class="btn btn-lg btn-success" type='submit'>Submit</button>
                </form>
            </div>
        </div>
        <%}%>
</div>
<div class="container">
  <div id="posts" class="row">

</div>
</div>

  </body>
</html>
